body {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 50px;
}

.meni {
	background-color: #729fcf;
	border: 1px solid lightgreen;
	font-size: 12px;
	text-align: center;
}

.meni ul {
	padding: 0 1%;
}

.meni li {
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
}

.meni a {
	color: black;
}

.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px;
	border-style: outset;
	border-color: black;
	margin-top: -40px;
}

.sadrzaj {
	float: left;
	border: 1px solid lightgreen;
	background-color: #729fcf;
	margin-top: 0.5em;
	padding: 1em;
	text-align: center;
}

label {
	font-size: 12px;
	padding-left: 3%;
}

.kalendar {
	margin: auto;
	width: 60%;
}

table {
	width: 100%;
	margin-top: 1%;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 2%; 
	padding-right: 1%; 
	padding-left: 1%;
	background-color: #b0c4dd;
	empty-cells: hide;
	border-spacing: 0.5em;
}

table, td {
	border: 2px solid #406c9e;
	font-size: 12px;
	table-layout: fixed;
}

td {
	text-align: center;
	background-color: white;
}

th {
	text-align: left;
	padding-bottom: 4%;
}

.dani td {
	background-color: #b0c4dd;
}

.brojevi td {
	padding-bottom: 1em;
}

.slobodna {
	background: linear-gradient(0, #00ff00 0, #00ff00 40%, #406c9e 40%, #406c9e 47%, #ffffff 47%, #ffffff 100%);		
}

.zauzeta {
	background: linear-gradient(0, #ff6347 0, #ff6347 40%, #406c9e 40%, #406c9e 47%, #ffffff 47%, #ffffff 100%);		
}

input[type=button] {
	background-color: #b0c4dd;
	border: 2px solid #406c9e;
	margin-top: 1%;
	padding: 1.5% 2.5%;
}

input[name=prethodni] {
	float: left;
}

input[name=sljedeci] {
	float: right;
}

@media only screen and (max-width: 600px) {
	.meni li {
		display: block;
	}
	
	td {
		display: block;
	}

	.brojevi {
		display: none;
	}

	th {
		display: none;
	}

	table {
		empty-cells: hide;
	}

	.dani td {
		margin-top: 2%;
		margin-bottom: 2%;
	}

	table {
		padding-bottom: 0;
		width: 200px;
	}

	input[type=button] {
		float: none;
	}
}