body {
	font-family: "Arial";
	padding-top: 1%;
}

.meni {
	background-color: #729fcf;
	border: 1px solid lightgreen;
	font-size: 12px;
	margin-top: 25px;
}

.meni ul {
	padding: 0 1%;
}

.meni li {
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
}

.meni a {
	color: black;
}

.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px;
	border-style: outset;
	border-color: black;
	margin-top: -25px;
}

form {
	display: inline-grid;
	grid-gap: 5%;
	padding: 2%;
}

label {
	grid-column: 1 / 2;
}

input {
	grid-column: 2 / 2;
}

@media only screen and (max-width: 600px) {
	label {
		grid-column: 2 / 2;
	}
}