body {
	font-family: Arial, Helvetica, sans-serif;
	padding-top: 50px;
	font-size: 14px;
}

.meni {
	background-color: #729fcf;
	border: 1px solid lightgreen;
	text-align: center;
}

.meni ul {
	padding: 0 1%;
}

.meni li {
	display: inline;
	padding-left: 1%;
	padding-right: 1%;
}

.meni a {
	color: black;
}

.logo img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border: 1px;
	border-style: outset;
	border-color: black;
	margin-top: -40px;
}

.sadrzaj {
	border: 1px solid lightgreen;
	background-color: #729fcf;
	margin-top: 0.5em;
	padding: 1em;
	text-align: center;
}

form {
	display: inline-grid;
	grid-gap: 0.5em;
}

label {
	grid-column: 1 / 2;
	width: 150px;
}

input {
	grid-column: 2 / 2;
}

@media only screen and (max-width: 600px) {
	.meni li {
		display: block;
	}
	
	label {
		grid-column: 2 / 2;
	}
}